<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('auth.index') }}">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Логин</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <h1>Вход</h1>
        <form action="{{ url_for('auth.login') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email">Email:</label>
                {{ form.email(class="form-control", placeholder="Введите email") }}
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                {{ form.password(class="form-control", placeholder="Введите пароль") }}
            </div>
            <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                <label class="form-check-label" for="remember_me">Запомнить меня</label>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        <div>
            <small class="form-text text-muted">Забыли пароль? <a href="{{ url_for('auth.reset_password') }}">Восстановите здесь</a>.</small>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        Swal.fire({
                            icon: '{{ category }}',
                            title: '{{ message }}',
                            showConfirmButton: true,
                        });
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
